aiembeddedpanel {
  .embedded-header {
    padding: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--crt-palette-border-500);
    margin-bottom: 5px;

    .max-width {
      width: 100%;
    }

    .crt-label {
      width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  #Chat {
    flex-grow: 1;
    min-height: 0;
    overflow: auto;
  }
}
